---
---

{% include header.html %}

<section id="eye-catch">
  <div>
    <div>
      <h1>{{ site.landing_header }}</h1>
      <p>{{ site.landing_text }}</p>
      <a href="">Learn more <i class="fa fa-chevron-right"></i></a>
    </div>
  <div>
  </div>
  </div>
</section>
<section class="social-media-header">
  <div>
    <h1>Follow Me</h1>
  </div>
</section>
<section class="social-media">
  <div>
    <div>
      <div class="social-media-column">
        <i class="fa fa-github"></i>
        <p>{{ site.index_page_github_description }}</p>
      </div>
      <div class="social-media-button">
        <a href="{{ site.github_profile }}"><i class="fa fa-github-alt"></i> @{{ site.github_username }}</a>
      </div>
    </div>
  </div>
  <div>
    <div>
      <div class="social-media-column">
        <i class="fa fa-linkedin"></i>
        <p>{{ site.index_page_linkedin_description }}</p>
      </div>
      <div class="social-media-button">
        <a href="{{ site.linkedin_profile }}"><i class="fa fa-briefcase"></i> @{{ site.linkedin_username }}</a>
      </div>
    </div>
  </div>
</section>

{% include footer.html %}
