---
---

{% include header.html %}

<section id="eye-catch">
  <div>
    <div>
      <p>This is a test.</p>
    </div>
  <div>
  </div>
  </div>
</section>
<section class="social-media-header">
  <div>
    <h1>Follow Me</h1>
  </div>
</section>
<section class="social-media">
  <div>
    <div>
      <div class="social-media-column">
        <i class="fa fa-github"></i>
        <p>{{ site.index_page_github_description }}</p>
      </div>
      <div class="social-media-button">
        <a href="{{ site.github_profile }}"><i class="fa fa-github-alt"></i> @tomas-ramos21</a>
      </div>
    </div>
  </div>
  <div>
    <div>
      <div class="social-media-column">
        <i class="fa fa-linkedin"></i>
        <p>{{ site.index_page_linkedin_description }}</p>
      </div>
      <div class="social-media-button">
        <a href="{{ site.linkedin_profile }}"><i class="fa fa-briefcase"></i> @tomas-aleixo-ramos</a>
      </div>
    </div>
  </div>
</section>

{% include footer.html %}
