---
---

{% include header.html %}

<section id="eye-catch">
  <div>
    <div>
      <p>This is a test.</p>
    </div>
  <div>
    <a href="">Image</a>
  </div>
  </div>
</section>
<section class="social-media-header">
  <div>
    <h1>Follow Me</h1>
  </div>
</section>
<section class="social-media">
  <div>
    <div>
      <div class="social-media-column">
        <i class="fa fa-github"></i>
        <p>All my open sourced projects are hosted on github. Check them out!</p>
      </div>
      <div class="social-media-button">
        <a href="https://github.com/tomas-ramos21"><i class="fa fa-github-alt"></i> @tomas-ramos21</a>
      </div>
    </div>
  </div>
  <div>
    <div>
      <div class="social-media-column">
        <i class="fa fa-linkedin"></i>
        <p>I mean if what you care about is the CV ... Check this one out.</p>
      </div>
      <div class="social-media-button">
        <a href="https://www.linkedin.com/in/tomas-aleixo-ramos/"><i class="fa fa-briefcase"></i> @tomas-aleixo-ramos</a>
      </div>
    </div>
  </div>
</section>

<!-- {% include footer.html %} -->
