---
title: Projects
---

{% include header.html %}

  {% for project in site.data.projects %}
    <section id="project-section-{{ project.section_color }}">
      <div>
        <div>
          {% if project.section_color contains "beige" or project.section_color == "green" %}
            <img src="assets/img/{{ project.logo }}" alt="" />
          {% else %}
            <h1>{{ project.name }}</h1>
            <p>{{ project.description }}</p>
            <div class="project-button-{{ project.section_color }}">
              <a href="{{ site.github_profile }}/{{ project.name }}"> {{ project.emoji }} {{ project.name }}</a>
            </div>
          {% endif %}
        </div>
        <div>
          {% if project.section_color contains "beige" or project.section_color == "green" %}
          <h1>{{ project.name }}</h1>
          <p>{{ project.description }}</p>
          <div class="project-button-{{ project.section_color }}">
            <a href="{{ site.github_profile }}/{{ project.name }}"> {{ project.emoji }} {{ project.name }}</a>
          </div>
          {% else %}
            <img src="assets/img/{{ project.logo }}" alt="" />
          {% endif %}
        </div>
      </div>
    </section>
  {% endfor %}

{% include footer.html %}
