<footer id="footer">
  <section class="footer-first-lvl">
    <div>
      <p>Test</p>
    </div>
  </section>
  <section class="footer-second-lvl">
    <div>
      <div>
      </div>
      <div>
        <ul>
          <li><a href="https://github.com/tomas-ramos21"><i class="fa fa-github-square"></i></a></li>
          <li><a href="https://www.linkedin.com/in/tomas-aleixo-ramos/"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
      </div>
    </div>
  </section>
  </footer>
</body>
</html>
