<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/main.css">
    <title>{{ page.title | default: site.title }}</title>
  </head>
  <body>
    <header id="header">
      <div class="logo-container">
      </div>
      <div class="nav-bar-container">
        <ul>
          <li><a href="">About</a></li>
          <li><a href="">Experience</a></li>
          <li><a href="">Projects</a></li>
          <li><a href="">Blog</a></li>
        </ul>
      </div>
    </header>
    <h1>{{ "Hello World!" | downcase }}</h1>
