<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/projects.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">
    <title>{{ page.title | default: site.title }}</title>
  </head>
  <body>
    <header id="header">
      <div class="logo-container">
        <a href="index.html">Tomás Ramos</a>
      </div>
      <div class="navbar-container">
        <ul>
          <li><a href="">About</a></li>
          <li><a href="/experience.html">Experience</a></li>
          <li><a href="/projects.html">Projects</a></li>
          <li><a href="">Blog</a></li>
        </ul>
      </div>
    </header>
