/* Contains all the CSS for the "Experience" page.
 * Within this page each section is supposed to over a different palette
 * of colors. Currently there 3 main palettes that can be re-used:
 *
 *   - Beige
 *   - Blue
 *   - Green
 */

/*
 *
 * Beige Section
 *
 */

#experience-section-beige {
    background-color: #EBEBE6;
    padding: 20px;
}

#experience-section-beige > div {
    display: flex;
    align-items: center;
    padding: 10vh 0px;
    margin: 0px auto;
    width: 90%;
    height: 50%;
    max-width: 62em;
    text-decoration: none;
}

#experience-section-beige > div > div {
    flex-basis: 50%;
    display: block;
}

#experience-section-beige > div > div:nth-of-type(1) {
    padding-right: 10px;
    width: 50%;
    height: auto;
}

#experience-section-beige > div > div > img {
    width: 50%;
    height: auto;
}

#experience-section-beige > div > div:nth-of-type(2) {
    padding: 50px 0px 50px 60px;
    border-left: solid 1px #6D6D6D;
}

#experience-section-beige > div > div > h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 225%;
    padding: 5px;
    color: #7d7d6f;
}

#experience-section-beige > div > div > p {
    padding: 5px;
    line-height: 1.4em;
    font-size: 110%;
    font-family: 'Noto Sans', sans-serif;
    color: #2C2C2C;
}
