/* Contains all the CSS for the "Projects" page.
 * Within this page each section is supposed to over a different palette
 * of colors. Currently there 3 main palettes that can be re-used:
 *
 *   - Beige
 *   - Blue
 *   - Green
 */


/*
 *
 * Beige Section
 *
 */

#project-section-beige {
    background-color: #EBEBE6;
    padding: 20px;
}

#project-section-beige > div {
    display: flex;
    align-items: center;
    padding: 10vh 0px;
    margin: 0px auto;
    width: 90%;
    height: 50%;
    max-width: 62em;
    text-decoration: none;
}

#project-section-beige > div > div {
    flex-basis: 50%;
    display: block;
}

#project-section-beige > div > div:nth-of-type(1) {
    padding-right: 10px;
    width: 50%;
    height: auto;
}

#project-section-beige > div > div > img {
    width: 60%;
    height: auto;
}

#project-section-beige > div > div:nth-of-type(2) {
    padding: 50px 0px 50px 60px;
    border-left: solid 1px #6D6D6D;
}

#project-section-beige > div > div > h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 225%;
    padding: 5px;
    color: #7d7d6f;
}

#project-section-beige > div > div > p {
    padding: 5px;
    line-height: 1.4em;
    font-size: 110%;
    font-family: 'Noto Sans', sans-serif;
    color: #2C2C2C;
}

#project-section-beige > div > div > a {
    color: #A61200;
    font-size: 160%;
    font-family: 'Noto Sans JP', sans-serif;
}

#project-section-beige a:hover {
    opacity: 0.65;
    transition: opacity 0.5s;
}

#project-section-beige a i {
    font-size: 80%;
}

.project-button-beige {
    flex: 1;
    float: left;
    display: flex;
    padding-top: 20px;
    justify-content: flex-end;
}

.project-button-beige a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: normal;
    padding: 15px 40px 15px 40px;
    max-width: 200px;
    border-radius: 100px;
    background: #242222;
}

.project-button-beige a:hover {
    opacity: 0.65;
    transition: opacity 0.5s;
}

/*
 *
 * Blue Section
 *
 */

#project-section-blue {
    background-color: #24708C;
    padding: 20px;
}

#project-section-blue > div {
    display: flex;
    align-items: center;
    padding: 10vh 0px;
    margin: 0px auto;
    width: 90%;
    height: 50%;
    max-width: 62em;
    text-decoration: none;
}

#project-section-blue > div > div {
    flex-basis: 50%;
    display: block;
}

#project-section-blue > div > div:nth-of-type(2) {
    flex: 1.1;
    height: auto;
    border-left: solid 1px #EBEBE6;
    width: 50%;
    padding-left: 30px;
}

#project-section-blue > div > div > img {
    width: 80%;
    height: auto;
}

#project-section-blue > div > div:nth-of-type(1) {
    flex: 1;
    padding: 50px 30px 50px 0px;
}

#project-section-blue > div > div > h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 225%;
    padding: 5px;
    color: #054961;
}

#project-section-blue > div > div > p {
    padding: 5px;
    line-height: 1.4em;
    font-size: 110%;
    font-family: 'Noto Sans', sans-serif;
    color: #FFFFFF;
}

#project-section-blue > div > div > a {
    color: #A61200;
    font-size: 160%;
    font-family: 'Noto Sans JP', sans-serif;
}

#project-section-blue a:hover {
    opacity: 0.65;
    transition: opacity 0.5s;
}

#project-section-blue a i {
    font-size: 80%;
}

.project-button-blue {
    flex: 1;
    float: left;
    display: flex;
    padding-top: 20px;
    justify-content: flex-end;
}

.project-button-blue a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: normal;
    padding: 15px 40px 15px 40px;
    max-width: 200px;
    border-radius: 100px;
    background: #D46578;
}

.project-button-blue a:hover {
    opacity: 0.65;
    transition: opacity 0.5s;
}

/*
 *
 * Green Section
 *
 */

#project-section-green {
    background-color: #082A35;
    padding: 20px;
}

#project-section-green > div {
    display: flex;
    align-items: center;
    padding: 10vh 0px;
    margin: 0px auto;
    width: 90%;
    height: 50%;
    max-width: 62em;
    text-decoration: none;
}

#project-section-green > div > div {
    flex-basis: 50%;
    display: block;
}

#project-section-green > div > div:nth-of-type(1) {
    padding-right: 10px;
    width: 50%;
    height: auto;
}

#project-section-green > div > div > img {
    width: 55%;
    height: auto;
}

#project-section-green > div > div:nth-of-type(2) {
    padding: 50px 0px 50px 60px;
    border-left: solid 1px #70868D;
}

#project-section-green > div > div > h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 225%;
    padding: 5px;
    color: #70868D;
}

#project-section-green > div > div > p {
    padding: 5px;
    line-height: 1.4em;
    font-size: 110%;
    font-family: 'Noto Sans', sans-serif;
    color: #FFFFFF;
}

#project-section-green > div > div > a {
    color: #A61200;
    font-size: 160%;
    font-family: 'Noto Sans JP', sans-serif;
}

#project-section-green a:hover {
    opacity: 0.65;
    transition: opacity 0.5s;
}

#project-section-green a i {
    font-size: 80%;
}

.project-button-green {
    flex: 1;
    float: left;
    display: flex;
    padding-top: 20px;
    justify-content: flex-end;
}

.project-button-green a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: normal;
    padding: 15px 40px 15px 40px;
    max-width: 200px;
    border-radius: 100px;
    background: #348B5D;
}

.project-button-green a:hover {
    opacity: 0.65;
    transition: opacity 0.5s;
}

/*
 *
 * Light-Green Section
 *
 */

#project-section-red {
    background-color: #91364A;
    padding: 20px;
}

#project-section-red > div {
    display: flex;
    align-items: center;
    padding: 10vh 0px;
    margin: 0px auto;
    width: 90%;
    height: 50%;
    max-width: 62em;
    text-decoration: none;
}

#project-section-red > div > div {
    flex-basis: 50%;
    display: block;
}

#project-section-red > div > div:nth-of-type(1) {
    padding-right: 10px;
    width: 50%;
    height: auto;
}

#project-section-red > div > div > img {
    width: 55%;
    height: auto;
}

#project-section-red > div > div:nth-of-type(2) {
    padding: 50px 0px 50px 60px;
    border-left: solid 1px #FFFFFF;
}

#project-section-red > div > div > h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 225%;
    padding: 5px;
    color: #520314;
}

#project-section-red > div > div > p {
    padding: 5px;
    line-height: 1.4em;
    font-size: 110%;
    font-family: 'Noto Sans', sans-serif;
    color: #FFFFFF;
}

#project-section-red > div > div > a {
    color: #A61200;
    font-size: 160%;
    font-family: 'Noto Sans JP', sans-serif;
}

#project-section-red a:hover {
    opacity: 0.65;
    transition: opacity 0.5s;
}

#project-section-red a i {
    font-size: 80%;
}

.project-button-red {
    flex: 1;
    float: left;
    display: flex;
    padding-top: 20px;
    justify-content: flex-end;
}

.project-button-red a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: normal;
    padding: 15px 40px 15px 40px;
    max-width: 200px;
    border-radius: 100px;
    background: #348B5D;
}

.project-button-red a:hover {
    opacity: 0.65;
    transition: opacity 0.5s;
}
