// Placeholder to allow overriding predefined variables smoothly.
$nav-background-color:  #24292F !important;
$site-title-color:      #FFFFFF !important;
$nav-bar-page-color:    #FFFFFF !important;
$brand-color:           #FFFFFF !important;
