<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
        {% for job in site.data.jobs %}
        <div align="center" style="padding-top: {{ job.margin }}">
          <a href="{{ job.link }}">
            <img src="{{ job.image }}" width="{{ job.image-width }}"/>
          </a>
          <p class="post-title" style="display: block; margin-top: 1em;">{{ job.company }}</p>
        </div>
        <hr class="solid">
        <ul style="list-style-type: none">
          <li><strong>Position:</strong> {{ job.position }}</li>
          <li><strong>Tenure:</strong> {{ job.tenure }}</li>
        </ul>
          {{ job.description | replace: "\n", "<br><br>" }}
        {% endfor %}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
