<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
        {% for job in site.data.jobs %}
        <div align="center">
          <img src={{ job.image }} alt="drawing" width="200"/>
        </div>
        <hr class="solid">
        {{ job.description }}
        {% endfor %}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
